<div *ngIf="jwtService.isLoggedIn | async; else loginButtons">
    <!--Navbar per desktop e menu a tendina per dispositivi mobili-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">Loyality Platform</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user" routerLinkActive="active">Profilo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user" routerLinkActive="active">Utenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/coupon" routerLinkActive="active">Coupon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/assistenza" routerLinkActive="active">Assistenza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/fidelitycard" routerLinkActive="active">FidelityCard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/recensioni" routerLinkActive="active">Recensioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/negozi" routerLinkActive="active">Negozi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messaggi" routerLinkActive="active">Messaggi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/chat" routerLinkActive="active">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-link" (click)="onLogout()">Logout</a>
                </li>
                </ul>
            </div>
        </div>
      </nav>
  </div>
  <ng-template #loginButtons>
    <!--Navbar per il login e per  la registrazione-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Loyality Platform</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLogin" aria-controls="navbarLogin" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarLogin">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/registrazione" routerLinkActive="active">Registrazione</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</ng-template>
<router-outlet></router-outlet>