<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="#">Loyality Platform</a>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/Registrazione" routerLinkActive="active">Registrazione</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/Login" routerLinkActive="active">Login</a>
          </li>
      </ul>
  </div>
</nav>

<div *ngFor="let user of user">
    <div>
        {{user.nome}}
    </div>
</div>
<router-outlet></router-outlet>