<div *ngIf="isObject(user)" class="table-centered">
  <div style="margin: 20px;">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Benvenuto {{ user.nome }} {{ user.cognome }}</h2>
        <div class="user-details">
          <p><strong>ID: </strong>{{ user.id }}</p>
          <p><strong>Username: </strong>{{ user.username }}</p>
          <p><strong>Email: </strong>{{ user.email }}</p>
          <p><strong>Telefono: </strong>{{ user.telefono }}</p>
          <p><strong>Ruolo: </strong>{{ user.ruolo }}</p>
        </div>
        <h3 class="card-subtitle">Seleziona uno dei pulsanti in alto per accedere alle varie sezioni</h3>
      </div>
    </div>
    
    <!--Mostro le fidelityCards dell'utente-->
    <div *ngIf="hasFidelityCards">
      <div class="card" style="margin-top: 20px;" *ngFor="let card of fidelityCards">
        <div class="card-body">
          <h4 class="card-title">Dettagli Fidelity Card</h4>
          <p><strong>ID: </strong>{{ card.id }}</p>
          <p><strong>Venditore: </strong>{{ card.vendorFidelity.nome }} {{ card.vendorFidelity.cognome }}</p>
        </div>
      </div>
    </div>

    <!--Se non ci sono fidelityCard-->
    <div *ngIf="!hasFidelityCards" class="card" style="margin-top: 20px;">
      <div class="card-body">
        <h4 class="card-title">Carta Fedeltà non presente</h4>
      </div>
    </div>
    
<router-outlet></router-outlet>
