<div>
    <table class="mat-elevation-z8 table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Mittente</th>
          <th>Destinatario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages" routerLink="/message/{{message.id}}">
          <td>{{message.id}}</td>
          <td>{{message.mittente.nome + " " + message.mittente.cognome}}</td>
          <td>{{message.destinatario.nome + " " + message.destinatario.cognome}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>
  