<div *ngIf="chat" class="table-centered">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Dettagli chat</h2>
        <p><strong>ID: </strong>{{ chat.id }}</p>
        <p><strong>Stato chat: </strong>{{ chat.close }}</p>
        <p><strong>Staff: </strong>{{ chat.staff.nome + ' ' +chat.staff.cognome}}</p>
        <p><strong>Utente: </strong>{{ chat.utente.nome + ' ' + chat.utente.cognome }}</p>
        <p><strong>Messaggi: </strong>{{ chat.messaggi.length}}</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  