
<!--
  ~ Copyright 2024 Mattia Giaccaglia
  ~
  ~ Permission is hereby granted, free of charge, to any person
  ~ obtaining a copy of this software and associated documentation
  ~ files (the "Software"), to deal in the Software without
  ~ restriction, including without limitation the rights to use,
  ~ copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the
  ~ Software is furnished to do so, subject to the following
  ~ conditions:
  ~
  ~ The above copyright notice and this permission notice shall be
  ~ included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  ~ EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
  ~ OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  ~ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
  ~ HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
  ~ WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  ~ FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
  ~ OTHER DEALINGS IN THE SOFTWARE.
  -->

<div class="outer-container">
  <div *ngIf="user" class="table-centered">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Dettagli utente {{ tempNome }} {{ tempCognome }}</h2>
        <div *ngIf="!modifica"> <!--Se modifica è false, mostro dettagli utente-->
          <p><strong>ID: </strong>{{ user.id }}</p>
          <p><strong>Nome: </strong> {{ user.nome }}</p>
          <p><strong>Cognome: </strong> {{ user.cognome }}</p>
          <p><strong>Username: </strong> {{ user.username }}</p>
          <p><strong>Email: </strong> {{ user.email }}</p>
          <p><strong>Telefono </strong> {{ user.telefono }}</p>
          <p><strong>Ruolo: </strong> {{ user.ruolo }}</p>
          <button class="btn btn-primary" (click)="modifyUser()">Modifica</button> <!--Se premo pulsante, modifica diventa true-->
          <button class="btn btn-danger" (click)="deleteUser()">Elimina</button> <!-- Pulsante per eliminare l'utente -->
        </div>
        <div *ngIf="modifica"> <!--Se true, mostro il form per la modifica-->
          <form (ngSubmit)="confirmModify()" #userForm="ngForm"> <!--Modifico utente-->
            <div class="mb-3">
              <label><strong>ID</strong></label>
              <input type="text" class="form-control" [(ngModel)]="user.id" name="id" disabled />
            </div>
            <div class="mb-3">
              <label><strong>Nome</strong> </label>
              <input type="text" class="form-control" [(ngModel)]="user.nome" name="nome" required />
            </div>
            <div class="mb-3">
              <label><strong>Cognome</strong> </label>
              <input type="text" class="form-control" [(ngModel)]="user.cognome" name="cognome" required />
            </div>
            <div class="mb-3">
              <label><strong>Username</strong> </label>
              <input type="text" class="form-control" [(ngModel)]="user.username" name="username" required />
            </div>
            <div class="mb-3">
              <label><strong>Email</strong> </label>
              <input type="email" class="form-control" [(ngModel)]="user.email" name="email" required />
            </div>
            <div class="mb-3">
              <label><strong>Telefono</strong> </label>
              <input type="text" class="form-control" [(ngModel)]="user.telefono" name="telefono" required />
            </div>
            <div class="mb-3">
              <label><strong>Ruolo</strong> </label>
              <input type="text" class="form-control" [(ngModel)]="user.ruolo" name="ruolo" [disabled]="!isAdmin" /> <!--Se admin, allora posso cambiare ruolo-->
            </div>
            <button type="submit" class="btn btn-success">Conferma</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
