<div *ngIf="user" class="center-content">
  <h2>Dettagli utente {{ tempNome }} {{ tempCognome }}</h2>
  <div *ngIf="!modifica"> <!--Se modifica è false, mostro dettagli utente-->
    <p>ID: {{ user.id }}</p>
    <p>Nome: {{ user.nome }}</p>
    <p>Cognome: {{ user.cognome }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Telefono: {{ user.telefono }}</p>
    <p>Ruolo: {{ user.ruolo }}</p>
    <button (click)="inizioModifica()">Modifica</button> <!--Se premo pulsante, modifica diventa true-->
  </div>
  <div *ngIf="modifica">
    <form (ngSubmit)="confermoModifica()" #userForm="ngForm"> <!--Modifico utente-->
      <p>
        <label>ID: </label>
        <input type="text" [(ngModel)]="user.id" name="id" disabled />
      </p>
      <p>
        <label>Nome: </label>
        <input type="text" [(ngModel)]="user.nome" name="nome" required />
      </p>
      <p>
        <label>Cognome: </label>
        <input type="text" [(ngModel)]="user.cognome" name="cognome" required />
      </p>
      <p>
        <label>Email: </label>
        <input type="email" [(ngModel)]="user.email" name="email" required />
      </p>
      <p>
        <label>Telefono: </label>
        <input type="text" [(ngModel)]="user.telefono" name="telefono" required />
      </p>
      <p>
        <label>Ruolo: </label>
        <input type="text" [(ngModel)]="user.ruolo" name="ruolo" disabled />
      </p>
      <button type="submit">Conferma</button>
    </form>
</div>
