<div style="margin: 20px;">
 <div *ngIf="message" class="table-centered">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Dettagli messaggio</h2>
        <p><strong>ID: </strong>{{ message.id }}</p>
        <p><strong>Testo: </strong>{{ message.testoMessaggio }}</p>
        <p><strong>Data: </strong>{{ message.data }}</p>
        <p><strong>Mittente: </strong>{{ message.mittente.nome + ' ' + message.mittente.cognome }}</p>
        <p><strong>Destinatario: </strong>{{ message.destinatario.nome + ' ' + message.destinatario.cognome }}</p>
      </div>
    </div>
  </div>
</div>
  <router-outlet></router-outlet>
  