<!--
  ~ Copyright 2024 Mattia Giaccaglia
  ~
  ~ Permission is hereby granted, free of charge, to any person
  ~ obtaining a copy of this software and associated documentation
  ~ files (the "Software"), to deal in the Software without
  ~ restriction, including without limitation the rights to use,
  ~ copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the
  ~ Software is furnished to do so, subject to the following
  ~ conditions:
  ~
  ~ The above copyright notice and this permission notice shall be
  ~ included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  ~ EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
  ~ OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  ~ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
  ~ HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
  ~ WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  ~ FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
  ~ OTHER DEALINGS IN THE SOFTWARE.
  -->

<div class="outer-container">
    <table mat-table [dataSource]="fidelitycards" class="mat-elevation-z8 custom-table">
        <!-- Definizione delle colonne -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef><strong>ID</strong></th>
            <td mat-cell *matCellDef="let fidelitycard">{{fidelitycard.id}}</td>
        </ng-container>

        <ng-container matColumnDef="utente">
            <th mat-header-cell *matHeaderCellDef><strong>User</strong></th>
            <td mat-cell *matCellDef="let fidelitycard">{{fidelitycard.user.nome + ' ' + fidelitycard.user.cognome}}</td>
        </ng-container>

        <ng-container matColumnDef="venditore">
            <th mat-header-cell *matHeaderCellDef><strong>Venditore</strong></th>
            <td mat-cell *matCellDef="let fidelitycard">{{fidelitycard.vendorFidelity.nome + ' ' + fidelitycard.vendorFidelity.cognome}}</td>
        </ng-container>

        <!-- Riga di intestazione -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Righe di dati -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="button-container">
        <button class="button" (click)="onSubmit()">Aggiungi Fidelity Card</button>
    </div>
</div>
<div class="centered-container" *ngIf="aggiungi">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="addFidelityCard()" #fidelityCardForm="ngForm">
          <div class="mb-3">
            <label class="form-label"><strong>Username Utente</strong></label>
            <input type="text" class="form-control" [(ngModel)]="userUsername" name="user" required />
          </div>
          <div class="mb-3">
            <label class="form-label"><strong>Username Venditore</strong></label>
            <input type="text" class="form-control" [(ngModel)]="vendorUsername" name="vendorFidelity" required />
          </div>
          <button type="submit" class="btn btn-primary">Aggiungi</button>
        </form>
      </div>
    </div>
  </div>


<router-outlet></router-outlet>
